body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
}

.main-header {
  display: flex;
  flex-direction: column;

  min-height: 320px;

  background-color: #f4f7f9;
}

.top-header {
  background-color: #293449;
}

.wrapper {
  display: flex;

  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-basket {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-logo {
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-header a {
  text-decoration: none;

  color: #ffffff;
}

.top-header a {
  text-align: center;
}

.order a {
  background-color: #63a63e;
}

.search-field {
  display: block;
  width: 270px;
  color: #ffffff;
  border: none;
  background-color: #293449;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field::placeholder {
  color: #ffffff;
}

.search-field:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;
}

.search-field:focus::placeholder {
  color: #000000;
}

.header-basket a {
  display: block;
  width: 150px;
}

.header-basket a:hover,
.header-basket a:focus {
  background-color: #212a3a;
}

.order a:hover,
.order a:focus {
  background-color: #5fbb2d;
}

.header-basket a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.order a:active {
  background-color: #5fbb2d;
}

.header-mid {
  margin-top: 46px;
  margin-bottom: 46px;
  justify-content: space-between;
}

.store-description {
  width: 196px;
  margin: 0;
  margin-left: 50px;
  margin-top: 5px;

  color: #ee3643;

  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header-contacts .phone {
  padding: 10px 49px 8px 71px;
  margin-bottom: 2px; /* вопрос про отступ */
  color: #ee3643;
  border: 3px solid #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.header-contacts .adress {
  text-align: center;

  color: #32425c;

  font-size: 14px;
  line-height: 24px;
}

.login {
  display: flex;

  margin: 0;
  margin-right: 10px;
  padding: 0;

  list-style: none;
}

.login:last-child {
  margin-right: 0;
}

.login a {
  text-decoration: none;

  color: #000000;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.login a:hover,
.login a:focus {
  color: #ee3643;
}

.login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter {
  display: block; /* вопрос не смог отцентровать текст */
  width: 121px;
  height: 45px;
}

.registration {
  display: block;
  width: 150px;
  height: 45px;

  margin-left: 10px;
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 940px;
  min-height: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px ;


  list-style: none;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation a {
  line-height: 17px;

}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.type-of-item {
  text-transform: uppercase;

  color: #32425c;
  background-color: #f2f6f8;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;

  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
}

.filters {
  text-transform: uppercase;

  font-family: "PT sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: bold;
  line-height: 30px;
}

.filters ul {
  list-style: none;
}

.filter button {
  border: solid 1px #e5e5e5;
  background-color: #ffffff;

  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.filter-option input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.border-filter {
  border-top: 1px solid #e5e5e5;
}

.catalog ul {
  list-style: none;
}

.catalog-item {
  text-align: center;

  border: 1px solid  #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item {
  text-decoration: none;

  color: #000000;

  font-family: "PT sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-item span {
  text-transform: uppercase;
}

.price {
  font-weight: bold;
}

.old-price {
  color: #999999;
}

.actual-price {
  text-decoration: none;

  color: #ffffff;
  background-color: #ee3643;
}

.buying a {
  text-align: center;
  text-decoration: none;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
}

.buying .buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buying .buy:hover,
.buying .buy:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buying .buy:active {
  background-color: #518534;
}

.buying .to-bookmark {
  color: #32425c;
  border: solid 3px #63a63e;
}

.catalog-item .buying {
  display: none;
}

.catalog-item:hover img,
.catalog-item:focus img {
  display: none;
}

.catalog-item:hover .buying,
.catalog-item:focus .buying {
  display: block;

  width: 218px;
  height: 170px;
}

.wrapper-about {
  display: flex;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 86px;
  padding: 0 10px;
}

.about {
  width: 540px;
}

.contacts-map {
  width: 300px;
}

.about-company {
  text-transform: uppercase;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

.describtion {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery {
  list-style: none;

  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
}

.link-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #ee3643;

  font-size: 14px;
}

.link-button:hover,
.link-button:focus {
  background-color: #ca2c37;
}

.link-button:active {
  background-color: #ba2732;
}

.account a {
  color: #000000;
  background-color: #ffffff;

  font-size: 21px;
  line-height: 21px;
}

.account a:hover,
.account a:focus {

}

.account a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-orders a {
  text-decoration: underline;

  color: #32425c;

  font-size: 16px;
}

.account-orders a:hover,
.account-orders a:focus {
  color: #ee3643;
}

.account-orders a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-footer {
  display: flex;
  flex-direction: column;

}

.top-footer {
  margin:
  width: 100%;

  background-color: #32425c;

}

.wrapper-top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 10px;
}

.top-footer-left {
  width: 330px;

}

.top-footer-right {
  display: flex;
  flex-direction: column;

  width: 550px;
}

.wrapper-top-footer-left .main-logo {
  padding: 20px 41px 25px;
  margin-bottom: 30px;
}

.bottom-footer {
  display: flex;
  align-items: center;

  background-color: #293449;
}

.wrapper-bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 0 10px;
}

.footer-copyright {
  margin-right: auto;
  width: 228px;
}

.footer-contacts {
  color: #f3f7f9;

  font-size: 18px;
  line-height: 24px;
}

.top-navigation {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: 40px;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-left: 25px;
  padding: 0;

  list-style: none;
}

.top-navigation a,
.bottom-navigation a {
  text-decoration: none;

  font-size: 18px;
  line-height: 24px;
}

.top-navigation a {
  color: #f1f5f7;
}

.bottom-navigation a {
  color: #ffd180;
}

.top-navigation a:hover,
.top-navigation a:focus,
.bottom-navigation a:hover,
.bottom-navigation a:focus {
  text-decoration: underline;
}

.top-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
}

.bottom-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
}

.bottom-footer {
  color: #ffffff;

  font-size: 16px;
}

.footer-social {
  margin: 0 auto;

  padding: 0;
  list-style: none;

  text-align: center;
}

.social-button {
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.development {
  width: 96px;
  margin-right: 15px;
}

.feedback {
  width: 135px;
  margin-right: 50px;
}

.feedback a,
.development a {
  text-decoration: none;

  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.development a:hover,
.development a:focus {
  text-decoration: underline;
}

.feedback a:active,
.development a:active {
  text-decoration: none;

  color: #ee3643;
}

.modal-map img {
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.recall-form {
  width: 620px;
  height: 430px;

  border-top: 7px solid #ff5257;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.recall-form label {
  color: #000000;

  font-size: 18px;
}

.recall-form-area {
  border: solid 2px #dee3e4;
}

.recall-form-area:hover {
  border: solid 2px #b5b5b5;
}

.recall-form-area:focus {
  border: solid 2px #ee3643;
  outline: none;
}

.recall-form-area::placeholder {
  color: #a9a9a9;

  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
}

.modal-buttons {
  background-color: #f4f4f4;
}

.modal-add-item {
  border-top: 7px solid #ff5257;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-add-item p {
  text-align: center;

  font-size: 30px;
  line-height: 30px;;
}

.modal-buttons a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;

  font-size: 14px;
}

.modal-buttons a:hover,
.modal-buttons a:focus {
  background-color: #ca2c37;
}

.modal-buttons a:active {
  background-color: #ba2732;
}

.modal-buttons button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
  border: none;
  background-color: #ffffff;

  font-size: 14px;
}
